ANTHROPIC_API_KEY=your_api_key_here

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyANOY-W5rEPQRuGaL3-sOdi5YMwyUkT3x4
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=otasum-dcdd4.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=otasum-dcdd4
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=otasum-dcdd4.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=430377603003
NEXT_PUBLIC_FIREBASE_APP_ID=1:430377603003:web:577ae33d48b550d236fe9e
